--1. CREATING A PRIMARY CONSTRAINTS ALWAYS CREATE AN INDEX AUTOMATICALLY.
CLEAR  SCREEN
SELECT * FROM T_EMP_DET_NEW;
ALTER TABLE T_EMP_DET_NEW ADD CONSTRAINT PK_CONST_ON_EMP_NO PRIMARY KEY(EMP_NO);

SELECT * FROM USER_CONSTRAINTS WHERE TABLE_NAME='T_EMP_DET_NEW';  --CREATED CONSTRAINTS SEEN IN THIS TABLE
SELECT * FROM USER_INDEXES WHERE TABLE_NAME='T_EMP_DET_NEW'; --CORRESPONDENCE INDEX WILL CREATE IN THIS TABLE


--2. IF INDEX ALREADY EXIST AND WE CREATE THE PRIMARY KEY CONSTRAINTS THEN ORACLE DOES NOT CREATE A NEW ENTRY FOR INDEX.
CREATE INDEX PK_INDEX_ON_EMP_NO ON T_EMP_DET_NEW(EMP_NO);---INDEX CREATED

SELECT * FROM USER_INDEXES WHERE TABLE_NAME='T_EMP_DET_NEW';
SELECT * FROM USER_CONSTRAINTS WHERE TABLE_NAME='T_EMP_DET_NEW'; --CONSTRAINTS NOT CREATED WHEN WE CREATING ANY INDEX ON TABLE COLUMNS.

ALTER TABLE T_EMP_DET_NEW
ADD CONSTRAINTS PK_CONST_ON_EMP_NO_COLS PRIMARY KEY(EMP_NO);

SELECT * FROM USER_CONSTRAINTS WHERE TABLE_NAME='T_EMP_DET_NEW';--CONSTRAINT CREATED BUT NEW INDEX NOT CREATED



--3.INDEX WILL DROP WHEN WE WILL DROPPING THE CONSTRAINTS ONLY IF IT IS AUTO CREATED BY SYSTEM OTHERWISE IT WILL BE NOT DROP WHEN DROPPING THE CONSTRAINTS.
--(SYSTEM NOT ALLOWED TO CREATE A MORE THEN ONE SAME TYPE OF INDEX ON  SAME COLUMN WITH DIFFERENT NAME)
SELECT * FROM USER_CONSTRAINTS WHERE TABLE_NAME='T_EMP_DET_NEW';
SELECT * FROM USER_INDEXES WHERE TABLE_NAME='T_EMP_DET_NEW';

ALTER TABLE T_EMP_DET_NEW
DROP CONSTRAINT PK_CONST_ON_EMP_NO_COLS; 

--WHEN WE DROP THE CONSTRAINTS THEN ENTRY FROM USER_CONSTRAINTS DELETED AUTOMATICALLY 
--BUT NOT FROM INDEX TABLE BECAUSE IT IS CREATED BY USER MANUALLY

CREATE INDEX IND_NEW_TEST ON T_EMP_DET_NEW(EMP_NO) --ERROR OCCURRED BECAUSE INDEX ON THIS COLUMN IS ALREADY PRESENT.


--4.DROPPING TABLE WILL DROP THE UNDERLYING INDE AND CONSTRAINTS IRRESPECTIVE OF CREATION TYPE(EITHER BY USER OR SYSTEM )

SELECT * FROM T_EMP_DET_NEW;
SELECT * FROM USER_CONSTRAINTS WHERE TABLE_NAME='T_EMP_DET_NEW';
SELECT * FROM USER_INDEXES WHERE TABLE_NAME='T_EMP_DET_NEW';--USER DEFIND INDEX ALREADY PRESENT(PK_INDEX_ON_EMP_NO)

DROP TABLE T_EMP_DET_NEW;
--AFTER DROPPING TABLE WHEN WE CHECK THE ABOVE TABLE THEN WE DO NOT FINF ANY RECORD IN IT
--MEANS ALL INDEX AND CONSTRAINTS RELATED DATA IS REMOVE FROM THE TABLE.